/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');/*font-family: 'Roboto', sans-serif;v*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffecec;
}

header.category {
    width: auto;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    padding-bottom: 20px;
}
  
.category img.logo{
    width: 80px;
    height: auto;
}
  
.category form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
  
.category input[type="text"] {
    padding: 5px;
}
  
.category button[type="submit"] {
    background-color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
  
.category img.usuario {
    width: 50px;
    height: auto;
}

.user{
    display: flex;
    flex-direction: row;
}

.user p.userCont{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.barSreach{
    width:300px;
    height: 50px;
    border-radius: 25px;
    border: 0px solid;
}


button.btnSreach{
    background: transparent;
    border:0px;
}